*{
    margin: 0;
    padding: 0;
}
/*Background CSS*/
.main{
    width: 100%;
    height: 100vh;
    background: url(image/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}
/*Navigation CSS*/
.navbar{
    width: 80%;
    padding: 100px 0;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 400px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -7%;
}

ul{
    margin-top: -3%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
}
ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(6, 88, 88);
    margin-top: -3%;
    transition: 0.3s ease;
}
ul li a:hover{
    color: orangered;
}
/*Information CSS*/
.info{
    margin-top: 3%;
    margin-left: 7%;
}
.info h1{
    font-size: 65px;
    color: #1f1c1a;
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}
.info span{
    color: orangered ;
}
.info a{
    text-decoration: none;
    color: white;
    background: #1f1c1a;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block; 
    transition: 0.3s ease;
}
.info a:hover{
    background: orangered;
}

/*Image Slide CSS*/
.image{
   width: 30%;
   height: 60%;
   position: absolute;
   right: 100px;
   bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    bottom: 0%;
    transform: translate(-60%);
    transition: left 2s ease;
}
.image:hover .my_image{
    left: 55%;
}

/*Icon CSS*/
.icons{
     margin-left: 7%;
     font-size: 40px;
     color: black;
     
}
.fa-square-instagram{
    margin-left: 2%;
}
.fa-square-twitter{
    margin-left: 2%;

}
.fa-square-whatsapp{
    margin-left: 2%;
}

.fa-brands{
    
    transition: 0.3s ease;
}
.fa-brands:hover{
    color: orangered;
} 
/*Footer*/
.foot p{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}
                                                                                                 